.contact-box{
	padding: 20px 0; 
	@media only screen and (min-width : 1200px) {
		padding: unset;
	}
}
.footer-top{
	background:#fff;
	padding: 40px 0;
	color: #435266;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 100;
	.one{
		img{
			float:left;
			margin-top: -26px;
			margin-left: -7px;

		}
		p{
			float:left;
			line-height: 17px;
			padding-left: 14px;
		}
	}
	.two{
		p{
			padding-left: 20px;
			background: url("../img/marker.png")no-repeat top 7px left;
			span{
				font-size: 15px;
				font-weight: 400;
			}
		}
	}
	.three{
		p{
			padding-left: 25px;
			background: url("../img/phone.png")no-repeat top 7px left;
			font-size: 13px;
			span{
				font-size: 16px;
			}
			.first{
				font-weight: 100;
			}
			.second{
				font-weight: 400;
			}
		}
	}
	.four{
		padding-right: 20px;
	}
	.one{
		margin: 0 auto;
		width: 260px;
		@media only screen and (min-width : 992px) {
			width: auto;
		}
	}
	.two, .three{
		margin: 0 auto;
		width: 218px;
		@media only screen and (min-width : 992px) {
			width: auto;
		}
	}
	.four{
		width: 198px;
		margin: 0 auto;
		@media only screen and (min-width : 992px) {
			width: auto;
		}
	}
	.two, .three, .four{
		padding-top: 20px;
		@media only screen and (min-width : 992px) {
			float: right;
			padding-top: unset;
		}
	}
}

.cart{
	position: relative;
	width: 110px;
	height: 37px;
	overflow: hidden;
	.cart-count-box{
		background:url("../img/korzina.png")no-repeat top center;
		float: left;
		padding: 10px 16px;
		margin-top: 15px;
		.count{
			position: absolute;
			top: -6px;
			left: 14px;
			color: white;
			font-size: 14px;
			font-weight: 700;
			line-height: 17px;
			background:url("../img/el.png")no-repeat top 8px center;
			padding: 10px;
		}
	}
	.cart-text{
		padding-left: 20px;
		float: left;
		font-weight:400;
		color:#435266;
		max-width:70px;
		height:100%;
		display:flex;
		align-items:center;
	}
}




.main-menu{
	background: #fff !important;
	z-index: 99;
	margin-top: 0px;
	border-top:1px solid #eef1f5;
	padding: 0;
	text-align: center;
	display: none;
	@media only screen and (min-width : 992px) {
		display: block;
	}
	li{
		border-bottom:1px solid #eef1f5;
		list-style-type: none; 
		@media only screen and (min-width : 992px) {
			float:left;
			border-right:1px solid #eef1f5;
			border-bottom: none;
			&:last-child{
				border: none;
			}
		}
		a{
			color: #435266 !important;
			@media only screen and (min-width : 1200px) {
				padding: 0 27.4px;
			}
			padding: 0 13px;
			line-height: 60px;
			height: 60px;
			display: block;
			font-family: 'Roboto', sans-serif;
			font-size: 14px;
			font-weight: 400;
			text-decoration: none;
			&:hover{
				background-color: #1e73c6;
				color: #fff !important;
				transition: 0.3s;
			}
		}
	}

	.has-child{
		z-index: 500;
		padding-right: 15px;
		&:hover{
			background-color: #1e73c6;
			& > a{
				color: #fff !important;
				background: url(../img/menu-check.png) no-repeat top 27px right 10px; 
			}
		}
		position: relative;
		& > a{
			background: url(../img/selectimg.png) no-repeat top 27px right 10px; 
		}
		& > a:hover{
			background: url(../img/menu-check.png) no-repeat top 27px right 10px; 
			@media only screen and (min-width : 992px) {
				background: url(../img/menu-check.png) no-repeat top 27px right 2px;
			}
			@media only screen and (min-width : 1240px) {
				background: url(../img/menu-check.png) no-repeat top 27px right 10px;
			}
		}
		.main-manu2{
			background-color: #1064b6;
			position: absolute;
			display: none;
			top: 60px;
			left:0;
			width: 100%;
			@media only screen and (min-width : 992px) {
				width: 240px;
			}
			padding-left: 0;
			padding: 5px 0;
			li{
				border:none !important;
				list-style-type: square;
				color: #ffc000;
				margin-left: 40px;
				width: 150px;
				margin: 0 auto;
				@media only screen and (min-width : 992px) {
					margin-left: 40px;
					width: auto;
				}	
				a{
					color: #f5f6f8 !important;
					font-size: 15px;
					font-weight: 400;
					padding: 0;
					padding-right: 10px;
					line-height: 40px;
					height: 40px;
					text-align: left;
					&:hover{
						background: none;
						color: #ffc000 !important;
					}
				}
			}
		}
		&:hover .main-manu2{
			display: block;
		}
	}
}

.footer-bottom{
	padding: 20px 0;
	background:url("../img/footer-bottom.jpg")no-repeat;
	background-size: cover;
	.box{
		max-width: 250px;
		margin: 0 auto;
		@media only screen and (min-width : 992px) {
			max-width: auto;
		}
	}
	a{
		color:#fff;
		text-decoration: none;
		font-weight: 400;
		&:hover{
			text-decoration: underline;
		}
	}
	ul{
		margin-left: 35px;
		padding-bottom: 15px;
		@media only screen and (min-width : 992px) {
			margin-left: unset;
			padding-bottom: unset;
		}
		li{
			list-style-type: square;
			color: #ffc000;
		}
	}
	.citchen, .electro, .cotl, .gas{
		padding-left: 45px;
		padding-bottom: 20px;
		display: inline-block;
		line-height: 19px;
		&:hover{
			line-height: 19px !important;
		}
	}
	.citchen{
		background:url("../img/citchen.png")no-repeat top left;
	}
	.cotl{
		background:url("../img/cotl.png")no-repeat top left;
	}
	.electro{
		background:url("../img/electro.png")no-repeat top left;
	}
	.gas{
		background:url("../img/gas.png")no-repeat top left;
	}
	.pd-t{
		padding-top: 20px;
		padding-left: 20px;
		@media only screen and (min-width : 992px) {
			padding-top: 0;
			padding-left: auto;
		}
	}
	.clear{
		@media only screen and (min-width : 768px) {
			clear:both;
		}
		@media only screen and (min-width : 992px) {
			clear:unset;
		}
	}
}
.footer-bottom2{
	background-color: #06459b;
	text-align: center;
	color:#fff;
	@media only screen and (min-width : 992px) {
		text-align: right;
	}
	
	a{
		color: #fff;
	}
}