html,body{
	background-color: #f5f6f8;
}
.clear{
	clear: both;
}
.sidebar-main{
	width: 100%;
	display: inline-block;
	float: left;
	font-family: 'Roboto', sans-serif;
	.burg-title{
		padding: 39px 0 40px 27px;
	}
	.sidebar-catalog{
		max-width: none;
	}
	@media only screen and (min-width : 1200px) {
		max-width: 277px;
	}
}
.brand{
	margin-bottom: 15px;
	background-color: #fff;
	padding: 7px 20px 20px 25px;
}
.brand__box{
	
	.brand__img{
		display: inline-block;
		width: 120px;
		img{
			max-width: 100%;
			height: auto;
		}
	}
	a{
		display: inline-block;
		color: #1358b6;
		font-size: 15px;
		font-weight: 100;
		line-height: 53px;
		text-decoration: underline;
		&:hover{
			line-height: 53px;
			font-weight: 100;
		}
	}
}
.brand__allbrends{
	text-align: right;
	padding: 14px 5px 0 0;
	a{
		color: #0944b4;
		font-size: 13px;
		font-weight: 100;
		line-height: 30px;
		text-decoration: underline;
		background-image: url("../img/selectimg.png");
		background-repeat: no-repeat;
		background-position: right center;
		padding-right: 34px;
		&:hover{
			line-height: 30px;
			font-weight: 100;
		}
	}
}


.sidebar-buttons{
	a{
		color: white;
		font-size: 17px;
		font-weight: 400;
		line-height: 23px;
		background-color: #1056b5;
		display: block;
		padding: 22px 12px 25px 70px;
		margin-bottom: 10px;
		&:hover{
			background-color: #ffc000;
			line-height: 23px;
			font-weight: 400;
			color: white;
		}
	}
	a:nth-child(1){
		background-image: url("../img/gas.png");
		background-repeat: no-repeat;
		background-position: 25px 50%;
	}
	a:nth-child(2){
		background-image: url("../img/sidebarbutton.png");
		background-repeat: no-repeat;
		background-position: 25px 50%;
	}
}


.sidebar-ourjob{

}
.sidebar-ourjob__box{
	position: relative;
	background-color: #1056b5;
	padding: 58px 24px 25px 24px;
	border-bottom: 1px dashed #dcebff;
	&:last-child{
		border-bottom: 0;
	}
	.sidebar-ourjob__absolute{
		opacity:0.30;
		color: #f5f6f8;
		font-size: 158px;
		font-weight: 700;
		line-height: 120px;	
		position: absolute;
		top:20px;
		left:19px;
		display: inline-block;
	}
	h4{
		color: #f5f6f8;
		font-size: 17px;
		font-weight: 700;
		line-height: 23px;
		margin-bottom: 25px;
	}
	p{
		color: #dcebff;
		font-size: 15px;
		font-weight: 300;
		font-style: italic;
		line-height: 23px;
	}
}







// sidebar -catalog page


.sidebar-catalogpage{	
	width: 100%;
	display: inline-block;
	float: left;
	font-family: 'Roboto', sans-serif;
	.burg-title{
		padding: 33px 0 29px 27px;				
	}
	.sidebar-catalog{
		max-width: none;
	}
	@media only screen and (min-width : 1200px) {
		max-width: 277px;
	}
}
.filter-clear{
	float: right;
	display: inline-block;
	color: #435266;	
	font-size: 13px;
	font-weight: 400;
	line-height: 15px;
	text-transform: uppercase;	
	padding: 7px 12px;
	margin: 29px 0 25px 0;
	border: 1px solid #c0c6ce;
	background-color: transparent;
	&:hover{
		font-weight: 700;
		color: #fff;
		background-color: #ffc000;
		border-color: transparent;
	}
}


.sidebar__filterrange{
	background-color: #fff;
	padding: 0 12px;
	text-align: center;
	margin-bottom: 14px;
}
.sidebar__priceinput{
	text-align: left;
	padding: 18px 5px 0 5px;
	@media only screen and (min-width : 770px) {
		padding: 18px 18px 0 18px;
	}
	span{
		color: #435266;
		font-weight: 400;
		line-height: 17px;
		font-size: 15px;
		display: block;
		margin-bottom: 22px;
	}
	input[type="text"]{
		width: 90px;
		float: left;
		background-color: #f7f5f5;
		color: #747373;
		font-size: 22px;
		font-weight: 400;
		line-height: 34px;
		text-transform: uppercase;
		border:none;
		height: 34px;
	}
	b{
		float: left;
		display: inline-block;
		color: #747373;
		font-size: 22px;
		font-weight: 400;
		line-height: 17px;
		text-transform: uppercase;
		width: 25px;
		text-align: center;
		padding: 10px 0;
	}
}
.sidebar__range{
	margin: 5px 0 15px 0;
}
.applyfilter{
	color: #435266;
	font-size: 13px;
	font-weight: 400;
	line-height: 15px;
	text-transform: uppercase;
	padding: 7px 12px;
	background-color: transparent;
	border: 1px solid #d3d8de;
	display: inline-block;
	margin-bottom: 21px;
	&:hover{
		color:#fff;
		background-color: #1e73c6;
		border-color: transparent;
	}
}

// styles rangeslider

.rangeslidr{
	position: relative;
	max-width: 250px;
	width: 100%;
}
.irs-line, .irs-line-left, .irs-line-mid, .irs-line-right, .irs-bar{
	height: 6px;
}
.irs-slider{
	background-position: initial;
}
.irs-slider.state_hover, .irs-slider:hover{
	background-position: initial;
}
.irs-bar{
	background-position: initial;
	background:url("../img/rangebg.png") repeat-x center !important;
}
.irs-line-mid, .irs-line-left, .irs-line-right, .irs-bar, .irs-bar-edge, .irs-slider{
	background: #f5f6f8;
}
.irs-slider{
	background: #ffc000;
	width: 9px;
	height: 27px;
	top: 15px;
}
/////////////////////////////////////////



.filterblock{
	padding: 22px 33px 22px 33px;
	background-color: #fff;
	margin-bottom: 14px;
}
.filterbrends{
	padding: 5px 33px 22px 33px;
	background-color: #fff;
	margin-bottom: 14px;
	.filtertopcaption{
		color: #435266;
		font-size: 15px;
		font-weight: 400;
		line-height: 17px;
		margin-bottom: 30px;
		display: inline-block;
	}	
}
/*input type checkbox*/
.checkbox{
	display: block;
	cursor: pointer;		
}
.checkbox__hidden{
	display: none;
}
.checkbox__custom {
	position: relative;      
	width: 15px;            
	height: 15px;            
	background-color: #f5f5f5;
	border: 1px solid #ebedf0;
	margin: 0 auto;
	z-index: 1;
	display: inline-block;
}
.checkbox__hidden:checked + .checkbox__custom::before {
	content: "";            
	display: block;         
	position: absolute;   
	top: 3px;
	right: 0px;
	bottom: 2px;
	left: 3px;
	width: 8px;
	height: 7px;
	background: url("../../img/checked.png") no-repeat;	
}
.checkbox__label{
	color: #435266;	
	font-size: 15px;
	font-weight: 400;
	line-height: 17px;
	display: inline-block;	
	margin-left: 14px;		
	vertical-align: top;
	margin-bottom: 19px;
}

/*end*/






// slider main =======================



.slidermain{	
	width: 100%;
	font-family: 'Roboto', sans-serif;
	position: relative;
	float: left;
	@media only screen and (min-width : 1200px) {
		max-width: 580px;
		height: 307px;
		overflow: hidden;
	}
}
.slidermain__box{
	position: relative;
}
.slidermain__img{
	position: relative;
	width: 100%;
	height: 255px;
	@media only screen and (min-width : 992px) {
		height: 307px;
	}
	img{
		position: absolute;
		top:0;
		left:0;
		width: 100%;
		height: 100%;
	}
}

.slidermain__txtbox{
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	
}
.slidermain__txttop{
	padding: 20px 15px 15px 15px;
	span{
		color: white;
		font-size: 19px;
		font-weight: 400;		
		display: inline-block;
		b{
			color: #ffc000;
		}
	}
	h2{
		color: white;
		font-size: 24px;
		font-weight: 700;
		line-height: 34px;
		text-transform: uppercase;
		margin-bottom: 15px;
	}
	a{
		color: white;
		font-size: 13px;
		font-weight: 700;
		line-height: 40px;
		text-transform: uppercase;
		background-color: #ffc000;
		display: inline-block;
		padding: 0 27px;
		&:hover{
			background-color: #1e73c6;
		}
	}
	@media only screen and (min-width : 992px) {
		padding: 53px 33px 15px 33px;
		h2{			
			margin-bottom: 52px;
		}
		span{
			line-height: 40px;
		}
	}
}
.slidermain__txtbottom{
	width: 100%;
	display: none;
	color: white;
	font-size: 14px;
	font-weight: 300;	
	text-align: center;
	padding: 0 15px;
	position: absolute;
	bottom: 0;
	left:0;
	background-color: rgba(#06459b, 0.6);
	@media only screen and (min-width : 992px) {
		line-height: 44px;
		font-size: 18px;
		display: block;
	}
}
.slidermain__counter{
	position: absolute;
	bottom: 15px;
	left:50%;
	transform:translateX(-50%);	
	z-index: 99;
	@media only screen and (min-width : 992px) {
		bottom: 55px;
		left: auto;
		right:75px;
		transform:translateX(0%);	
	}
	span,i{
		color: white;
		font-size: 22px;
		font-weight: 400;
		line-height: 15px;
		display: inline-block;
	}
}
.slidermain .prev-left, .next-right{
	color: white;
	font-family: "FontAwesome";
	font-size: 22px;
	font-weight: 400;
	line-height: 15px;
	width: 15px;
	height: 21px;
	position: absolute;
	bottom: 15px;
	@media only screen and (min-width : 992px) {
		bottom: 55px;
	}
	&:after{
		content: "\f054";
		position: absolute;
		top:0;
		left:0;
		width: 100%;
		height: 100%;
	}
}
.slidermain .prev-left{
	right: 0px;
	left: 40px;
	@media only screen and (min-width : 992px) {
		right:165px;
		left: auto;
	}
	&:after{
		content: "\f053";
	}
}
.slidermain .next-right{
	right:40px;
	@media only screen and (min-width : 992px) {
		right:27px;
	}
}




.slidermain-links{
	width: 100%;	
	display: inline-block;
	float: left;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;	
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;	
	background-image: url("../img/bglinks.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	@media only screen and (min-width : 992px) {		
		flex-direction: row;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
	}
	@media only screen and (min-width : 1200px) {
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		max-width: 287px;
		height: 307px;	
		overflow: hidden;
		a{
			height: 100%;
		}	
	}
	a{
		width: 100%;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		align-items: center;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		color: white;
		font-size: 17px;
		font-weight: 400;
		line-height: 20px;
		padding: 29px 25px 20px 70px;
		position: relative;
		&:hover{
			background-color: #ffc000;
		}
		&:after{
			content: "";
			position: absolute;
			top:50%;
			left:15px;
			transform:translateY(-50%);
			width: 40px;
			height: 40px;
			background-repeat: no-repeat;
			background-position: center center;
			background-image: url("../img/linkimg1.png");
		}
		// &:before{
		// 	content: "";
		// 	position: absolute;
		// 	top:0;
		// 	left:0;
		// 	width: 100%;
		// 	height: 100%;
		// }
		@media only screen and (min-width : 1200px) {
			padding: 29px 25px 20px 100px;
			&:after{
				left:30px;
			}
		}
	}	
	
	a:nth-child(2){ 
		&:after{
			background-image: url("../img/linkimg2.png");
		}		
	}
	a:nth-child(3){ 
		&:after{
			background-image: url("../img/linkimg3.png");
		}
	}
}
.paddingnone{
	@media only screen and (min-width : 992px) {
		padding-right: 0;
		padding-left: 0;
	}	
}



// product =====================



.product{
	font-family: 'Roboto', sans-serif;
}
.product__topbox{
	margin: 17px 0;
	.brearcrumbs{
		max-width: none;
		float: right;
		width: 100%;
		margin-top: 15px;
		@media only screen and (min-width : 770px) {
			width: 72%;
			margin-top: 0;
		}
		@media only screen and (min-width : 992px) {
			width: 79%;
		}
		@media only screen and (min-width : 1200px) {
			width: 82.5%;
		}
	}
}

.product__catalog{
	display: inline-block;
	float: left;
	color: white;
	font-size: 15px;
	font-weight: 400;
	line-height: 41px;
	background-image: url("../img/burgerwhtie.png");
	background-repeat: no-repeat;
	background-position: left 15px center;
	padding: 0 27px 0 45px;
	background-color: #1e73c6;
}


.product__block{
	@media only screen and (min-width : 992px) {
		height: 588px;
		overflow: hidden;
	}	
}

.product__leftbox{
	width: 100%;
	float: left;
	padding: 20px 16px;
	position: relative;
	background-color: #fff;
	height: 100%;
	@media only screen and (min-width : 770px) {
		width: 62%;
	}
	@media only screen and (min-width : 1200px) {
		max-width: 735px;
		width: 100%;
	}
	>span{
		position: absolute;
		top: 20px;
		left:16px;
		color: white;		
		font-size: 13px;
		font-weight: 700;
		line-height: 29px;
		text-transform: uppercase;
		background-color: #ffc000;
		display: inline-block;
		padding: 0 9px;
	}
}
.product__imgbox{	
	max-width: 535px;
	width: 100%;
	margin: 0 auto;	
	@media only screen and (min-width : 992px) {
		max-width: 500px;
		display: inline-block;
	}
	@media only screen and (min-width : 1200px) {
		margin: 30px 0 60px 23px;	
		max-width: 535px;
	}
	img{
		width: 100%;
		height: auto;
	}
}

.product__galerybox{	
	vertical-align: top;	
	text-align: center;
	margin: 30px 0 0px 0;
	@media only screen and (min-width : 770px) {
		margin: 30px 0 40px 0;
	}
	@media only screen and (min-width : 1200px) {
		width: 107px;
		float: right;
		margin: 0;
	}
	a{
		width: 107px;
		height: 107px;
		display: inline-block;
		background-color: #fff;
		border: 1px solid #dfe3e7;
		margin-bottom: 14px;
		img{
			width: 100%;
			height: 100%;
		}
	}
}
.product__galerybox-active{
	border: 1px solid #ffc000 !important;
}




.product__rightbox{	
	width: 100%;
	float: right;
	padding: 15px 15px;
	background-color: #fff;
	height: 100%;
	@media only screen and (min-width : 770px) {
		width: 37%;
	}
	@media only screen and (min-width : 1200px) {
		max-width: 412px;
		width: 100%;
		padding: 37px 25px;	
	}
	h2{
		color: #435266;
		font-size: 24px;
		font-weight: 400;
		line-height: 31px;
		margin-bottom: 18px;
	}
}


.product__articul{
	margin-bottom: 22px;
	span:first-child{
		color: #20b603;
		font-size: 12px;
		font-weight: 100;
		line-height: 17px;
		display: inline-block;
		padding: 0 22px 0 18px;
		background: url("../img/galkagreen.png")no-repeat left center;
	}
	span:last-child{
		color: #435266;
		font-size: 14px;
		line-height: 17px;
		font-weight: 100;
		b{
			font-weight: 400;
		}
	}
}
.product__brend{
	color: #435266;
	font-size: 14px;
	line-height: 17px;
	font-weight: 100;
	display: block;
	b{
		font-weight: 400;
	}	
}
.product__characteristic{
	color: #5d656f;
	font-size: 14px;
	font-weight: 100;
	line-height: 17px;
	display: block;
	margin: 17px 0 12px 0;
}
.product__charbox{
	padding-left: 4px;
	li{
		color: #435266;
		font-size: 14px;
		font-weight: 100;
		line-height: 27px;	
		background: url("../img/ulliimg.png")no-repeat left center;
		padding-left: 24px;
	}
}
.product__txtbox{
	color: #435266;
	font-size: 14px;
	font-weight: 100;
	line-height: 21px;
	margin-top: 11px;
}

.product__pricebox{
	margin: 15px 0 0 0px;
	padding-left: 8px;
	text-align: center;
	.product__oldprice{
		color: #4c5b6f;
		font-size: 22px;
		font-weight: 700;
		line-height: 28px;
		display: block;		
		margin-bottom: 9px;
		padding-left: 9px;
		text-align: center;
		@media only screen and (min-width : 992px) {
			width: 142px;
			padding-left: 0;		
		}
	}
	.product__newprice{
		color: #4c5b6f;
		font-size: 22px;
		font-weight: 700;
		line-height: 37px;
		border-radius: 20px;
		display: inline-block;
		border: 2px solid #ffc000;
		padding: 0 20px 0 30px;		
	}	
	a{
		color: white;
		font-size: 19px;
		font-weight: 700;
		line-height: 40px;
		background-color: #ffc000;
		border-radius: 20px;
		display: inline-block;
		padding: 0 50px;	
		margin-top: 15px;	
	}
	@media only screen and (min-width : 992px) {
		margin: 70px 0 0 0px;
		text-align: left;	
		.product__newprice{
			float: left;
		}
		a{
			float: right;
			margin-top: 0;
		}
	}
}