body, html {
  min-height: 100vh; }

a {
  transition: 0.5s; }

.container-main {
  width: 100%;
  padding: 0px 15px;
  margin: 0 auto;
  display: block;
  justify-content: space-between;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between; }
  @media only screen and (min-width: 768px) {
    .container-main {
      max-width: 1167px;
      padding: 0px; } }
  @media only screen and (min-width: 992px) {
    .container-main {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; } }

.header-top-fixed_container {
  margin: 0 auto;
  width: 1158px !important;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  /* NEW, Spec - Firefox, Chrome, Opera */
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.left-side-main {
  width: 100%;
  float: left;
  padding-top: 22px; }
  @media only screen and (min-width: 768px) {
    .left-side-main {
      width: 277px; } }

.right-side-main {
  width: 100%;
  float: right;
  padding-top: 22px; }
  @media only screen and (min-width: 992px) {
    .right-side-main {
      width: 70%; } }
  @media only screen and (min-width: 1120px) {
    .right-side-main {
      width: 74%; } }
  @media only screen and (min-width: 1200px) {
    .right-side-main {
      width: 872px; } }

.left-side {
  width: 100%;
  float: left;
  padding-top: 22px; }
  @media only screen and (min-width: 992px) {
    .left-side {
      width: 277px; } }

.right-side {
  width: 100%;
  float: right;
  padding-top: 22px; }
  @media only screen and (min-width: 992px) {
    .right-side {
      width: 70%; } }
  @media only screen and (min-width: 1200px) {
    .right-side {
      width: 872px; } }

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1190px;
    width: 100%; } }

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%; }

.content {
  flex: 1 0 auto; }

.footer {
  flex: 0 0 auto;
  margin-top: 50px; }

.clear {
  clear: both; }

.vertical-align {
  vertical-align: middle; }

body {
  font-family: 'Roboto', sans-serif;
  color: #38414c;
  font-size: 15px; }

.content-part {
  background: #fff;
  padding: 50px 33px; }
  .content-part p {
    line-height: 26px;
    margin-bottom: 26px; }
  .content-part h3 {
    font-weight: 700; }

strong {
  font-weight: 700; }

h1, h2, h3, h4, h5, h6 {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  color: #484d56;
  font-weight: 400;
  margin-bottom: 24px; }

h1 {
  font-size: 23px; }

h2 {
  font-size: 20px; }

h3 {
  font-size: 18px; }

a.watch-more {
  border: 1px solid #d8d9db;
  color: #59677b;
  text-decoration: none;
  font-family: 'Roboto';
  padding: 7px 15px;
  border-radius: 40px;
  font-size: 14px;
  background: transparent; }

.info-row {
  color: #435266;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 100;
  padding: 20px 20px;
  background: #fff; }

.logo-box, .contact-box, .right-box {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 25px; }
  @media only screen and (min-width: 992px) {
    .logo-box, .contact-box, .right-box {
      margin: 0px; } }

@media screen and (max-width: 800px) {
  .hidden-md {
    display: none; } }
@media screen and (max-width: 520px) {
  .hidden-md {
    display: none !important; }

  .cart {
    margin: auto; } }
.contact-address {
  background: url("../img/marker.png") no-repeat top 8px left;
  padding-left: 24px;
  line-height: 22px;
  word-spacing: nowrap;
  font-weight: 400; }
  .contact-address strong {
    font-weight: 400; }
  .contact-address span {
    font-size: 15px; }

.contact-phones {
  padding-left: 26px;
  background: url("../img/phone.png") no-repeat top 7px left;
  font-size: 13px;
  line-height: 22px;
  word-spacing: nowrap;
  font-weight: 400; }
  .contact-phones strong {
    font-weight: 400; }
  .contact-phones span {
    font-size: 16px; }

.logo-box {
  font-weight: 400;
  width: 220px;
  margin: 0 auto; }
  .logo-box img {
    display: block; }
  .logo-box div {
    line-height: 17px;
    padding-left: 22px;
    color: #435266;
    padding-top: 19px; }
  @media only screen and (min-width: 320px) {
    .logo-box {
      width: 280px;
      margin: auto 0; } }
  @media only screen and (max-width: 420px) {
    .logo-box {
      display: block; }
      .logo-box img {
        display: block; } }

.mobile-window .contact-box {
  color: #606d7e; }

.contact-box {
  margin: 0 auto; }
  @media only screen and (min-width: 320px) {
    .contact-box {
      width: 258px; } }
  @media only screen and (min-width: 992px) {
    .contact-box {
      word-spacing: nowrap;
      width: 480px !important;
      margin-left: -90px;
      margin-top: 15px; } }
  @media only screen and (min-width: 520px) {
    .contact-box {
      width: auto; } }
  @media only screen and (max-width: 520px) {
    .contact-box {
      display: block;
      margin-top: 25px;
      margin-bottom: 25px; }
      .contact-box .contact-address {
        margin-bottom: 20px; } }

.contact-phones {
  text-align: justify; }
  @media only screen and (min-width: 992px) {
    .contact-phones {
      margin-left: 6px; } }

.right-box {
  display: flex;
  justify-content: space-around; }
  @media only screen and (min-width: 992px) {
    .right-box {
      padding-top: 5px; }
      .right-box .button-question {
        margin-left: 14px; } }
  @media only screen and (max-width: 520px) {
    .right-box {
      display: block;
      margin-top: 25px;
      margin-bottom: 25px;
      text-align: center; }
      .right-box a {
        margin-bottom: 20px; } }

@media only screen and (max-width: 420px) {
  .slogan {
    display: none; } }

.info-row_bottom .logo-box {
  margin: 0 auto; }
  @media only screen and (min-width: 992px) {
    .info-row_bottom .logo-box {
      margin: auto 0; } }
@media only screen and (min-width: 992px) {
  .info-row_bottom .contact-box {
    margin-left: -40px; } }
@media only screen and (min-width: 992px) {
  .info-row_bottom .right-box {
    justify-content: flex-end;
    padding-top: 20px; } }

@media only screen and (min-width: 992px) {
  .info-row_top .contact-box {
    padding-top: 6px; } }
@media only screen and (min-width: 992px) {
  .info-row_top .right-box {
    padding-top: 22px; } }

.burger {
  position: absolute;
  right: 30px;
  top: 45px;
  font-size: 20px;
  font-weight: 100;
  cursor: pointer; }
  @media only screen and (min-width: 992px) {
    .burger {
      display: none; } }

.menu-box {
  width: 100%;
  background: #fff; }

.mobile-logo {
  margin-top: 15px;
  margin-left: 10px; }

.mobile-line {
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0px;
  top: 100px;
  border-bottom: 1px solid #1e73c6; }

.mobile-main-menu {
  display: block;
  width: 100%;
  text-align: left;
  margin-top: 50px; }
  .mobile-main-menu ul {
    display: block;
    width: 100%; }
  .mobile-main-menu li {
    display: block; }
    .mobile-main-menu li a {
      padding: 10px 15px;
      display: inline-block;
      width: 100%;
      font-size: 20px;
      font-weight: 700px;
      color: #1e73c6; }
      .mobile-main-menu li a:hover {
        background: #1e73c6;
        color: #fff; }

.search-box {
  margin-bottom: 23px !important; }

.header-top-fixed {
  display: none;
  position: fixed;
  width: 100%;
  height: 61px;
  background: #fff;
  top: 0;
  left: 0;
  z-index: 99999;
  transition: 0.7s;
  webkit-box-shadow: 0px 0px 25px -4px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: 0px 0px 25px -4px rgba(0, 0, 0, 0.51);
  box-shadow: 0px 0px 25px -4px rgba(0, 0, 0, 0.5); }
  @media screen and (max-width: 1169px) {
    .header-top-fixed {
      display: none !important; } }
  .header-top-fixed .menu-box {
    display: block; }
  .header-top-fixed .main-menu li {
    border-right: none !important; }
    .header-top-fixed .main-menu li a {
      padding: 0 10px; }
  .header-top-fixed .main-menu .has-child > a {
    position: relative;
    background: none !important; }
    .header-top-fixed .main-menu .has-child > a::before {
      display: block;
      position: absolute;
      content: "";
      width: 25px;
      height: 25px;
      top: 26px;
      right: -12px;
      background: url(../img/selectimg.png) no-repeat top center; }
  .header-top-fixed .main-menu .has-child:hover {
    background-color: #1e73c6; }
    .header-top-fixed .main-menu .has-child:hover > a {
      color: #fff !important;
      position: relative;
      background: none !important; }
      .header-top-fixed .main-menu .has-child:hover > a::before {
        display: block;
        position: absolute;
        content: "";
        width: 25px;
        height: 25px;
        top: 26px;
        right: -12px;
        background: url(../img/menu-check.png) no-repeat top center; }

@media screen and (max-width: 1100px) {
  .main-menu li a {
    font-size: 13.5px !important; }

  .main-menu .has-child > a {
    background-position: right !important; } }
.toTop {
  padding: 5px;
  position: fixed;
  background-color: #fff;
  bottom: 25px;
  right: 35px;
  cursor: pointer;
  display: none;
  z-index: 99;
  padding: 6px 24px !important; }

/*# sourceMappingURL=style.css.map */
