html,body{
	background-color: #f5f6f8;
}
.sidebar-main{
	max-width: 277px;
	width: 100%;
	display: inline-block;
	float: left;
	font-family: 'Roboto', sans-serif;
	.burg-title{
		padding: 39px 0 40px 27px;
	}
}
.brand{
	margin-bottom: 15px;
	background-color: #fff;
	padding: 7px 20px 20px 25px;
}
.brand__box{
	
	.brand__img{
		display: inline-block;
		width: 120px;
		img{
			max-width: 100%;
			height: auto;
		}
	}
	a{
		display: inline-block;
		color: #1358b6;
		font-size: 15px;
		font-weight: 100;
		line-height: 53px;
		text-decoration: underline;
		&:hover{
			line-height: 53px;
			font-weight: 100;
		}
	}
}
.brand__allbrends{
	text-align: right;
	padding: 14px 5px 0 0;
	a{
		color: #0944b4;
		font-size: 13px;
		font-weight: 100;
		line-height: 30px;
		text-decoration: underline;
		background-image: url("../img/selectimg.png");
		background-repeat: no-repeat;
		background-position: right center;
		padding-right: 34px;
		&:hover{
			line-height: 30px;
			font-weight: 100;
		}
	}
}


.sidebar-buttons{
	a{
		color: white;
		font-size: 17px;
		font-weight: 400;
		line-height: 23px;
		background-color: #1056b5;
		display: block;
		padding: 22px 12px 25px 70px;
		margin-bottom: 10px;
		&:hover{
			background-color: #ffc000;
			line-height: 23px;
			font-weight: 400;
			color: white;
		}
	}
	a:nth-child(1){
		background-image: url("../img/gas.png");
		background-repeat: no-repeat;
		background-position: 25px 50%;
	}
	a:nth-child(2){
		background-image: url("../img/sidebarbutton.png");
		background-repeat: no-repeat;
		background-position: 25px 50%;
	}
}


.sidebar-ourjob{

}
.sidebar-ourjob__box{
	position: relative;
	background-color: #1056b5;
	padding: 58px 24px 25px 24px;
	border-bottom: 1px dashed #dcebff;
	&:last-child{
		border-bottom: 0;
	}
	.sidebar-ourjob__absolute{
		opacity:0.30;
		color: #f5f6f8;
		font-size: 158px;
		font-weight: 700;
		line-height: 120px;	
		position: absolute;
		top:20px;
		left:19px;
		display: inline-block;
	}
	h4{
		color: #f5f6f8;
		font-size: 17px;
		font-weight: 700;
		line-height: 23px;
		margin-bottom: 25px;
	}
	p{
		color: #dcebff;
		font-size: 15px;
		font-weight: 300;
		font-style: italic;
		line-height: 23px;
	}
}







// sidebar -catalog page


.sidebar-catalogpage{
	max-width: 277px;
	width: 100%;
	display: inline-block;
	float: left;
	font-family: 'Roboto', sans-serif;
	.burg-title{
		padding: 33px 0 29px 27px;				
	}
}
.filter-clear{
	float: right;
	display: inline-block;
	color: #435266;	
	font-size: 13px;
	font-weight: 400;
	line-height: 15px;
	text-transform: uppercase;	
	padding: 7px 12px;
	margin: 29px 0 25px 0;
	border: 1px solid #c0c6ce;
	background-color: transparent;
	&:hover{
		font-weight: 700;
		color: #fff;
		background-color: #ffc000;
		border-color: transparent;
	}
}




// styles rangeslider

.rangeslider,
.rangeslider__fill {
	display: block;	
}
.rangeslider {
	background: #f5f6f8;	
	height: 5px;
	position: relative;
}
.rangeslider--vertical {
	width: 245px;
	height: 5px;
}
.rangeslider__fill {
	background-image: url("../img/rangebg.png");
	background-repeat: repeat-x;
	background-position:  left center;
	position: absolute;
}
.rangeslider--horizontal .rangeslider__fill {
	top: 0;
	height: 5px;
}
.rangeslider--vertical .rangeslider__fill {
	bottom: 0;
	width: 100%;
}
.rangeslider__handle {
	background: #ffc000;	
	cursor: pointer;
	display: inline-block;
	width: 9px;
	height: 27px;
	position: absolute;
	background-size: 100%;
	
}
.rangeslider--horizontal .rangeslider__handle {
	top: -12px;
	touch-action: pan-y;
	-ms-touch-action: pan-y;
}
.rangeslider--vertical .rangeslider__handle {
	left: -5px;
	touch-action: pan-x;
	-ms-touch-action: pan-x;
}
/////////////////////////////////////////