.brearcrumbs{
	font-family: 'Roboto', sans-serif;
	// max-width: 870px;
	margin: 0 auto;
	border: 1px solid #e2e5ea;
	background-color: transparent;
	padding: 0 18px;
	li{
		display: inline-block;
		font-size: 14px;
		font-weight: 400;
		line-height: 40px;
		vertical-align: top;
		a{
			color: #1e72c7;
			text-decoration: underline;
			display: inline-block;
			position: relative;
			padding-right: 31px;
			&:after{
				content: "";
				// content: "\f054";
				position: absolute;
				right:6px;
				top:14px;
				width: 12px;
				height: 12px;
				background-image: url("../../img/menuimg1.png");
				background-repeat: no-repeat;
				background-position: center center;
				// color: #1056b5;
				// font-family: "FontAwesome";
				// font-size: 11px;
				// font-weight: 400;
				// line-height: 15px;
			}
			&:hover{
				text-decoration: none;
			}
		}
		span{
			color: #6a7a8f;
			display: inline-block;
			max-width: 730px;
		}
	}
}

