.catalog{
	width: 100%;
	position:relative;
	//margin-bottom: 138px;
	clear: both;
	margin-top: 37px;
	//min-height: 555px;
}
.catalog .cat-col{
	width: 100%;
	margin-right: 4px;
	float: left;
	&::last-child{
		margin-right: 0px;
	}
	@media only screen and (min-width : 410px) {
		width:calc(50% - 4px);	
	}
	@media only screen and (min-width : 1006px) {
		width:calc(33.333% - 4px);	
	}

}
.catalog .cat-col:last-child{
	margin-right: 0px;
}
.catalog .cat-item{
	width: 100%;
	
	padding:25px 30px;
	padding-bottom: 40px;
	padding-top: 40px;
	margin: 0 auto;
	background: #fff;
	margin-bottom: 4px;
	overflow: hidden;
}
.catalog .cat-item_one{
	height: 522px;
	.catalog-list{
		height: 322px;
	}
}
.catalog .cat-item_two{
	height: 212px;
	.catalog-list{
		height: 81px;
	}
}
.catalog .cat-item_three{
	height: 306px;
	.watch-more{
		margin-top: -15px;
		position: absolute;
	}
	.catalog-list{
		height: 128px;
	}
}



.catalog_title{
	font-size:16px;
	color: #2e3641;
	padding-left:57px;
	background-repeat:no-repeat;
	line-height: 17px;
	margin-bottom:20px;
	min-height:44px;
}

.catalog div:nth-child(1) .catalog_title{
	background-image:url(../../img/cooker.png);
}

.catalog div:nth-child(2) .catalog_title{
	background-image:url(../../img/htautomation.png);
}

.catalog div:nth-child(3) .catalog_title{
	background-image:url(../../img/pulse.png);
}

.catalog div:nth-child(4) .catalog_title{
	background-image:url(../../img/gas-blue.png);
}



.catalog .catalog-list{
	margin-bottom:30px;
}

.catalog .watch-more{
	display: inline-block;
	margin-top: 10px;
}
