.catalog{
	font-family:'Roboto';
	position:relative;
	min-height: 555px;
}

.catalog div:nth-child(4) .catalog-list{
	height:152px;
	overflow:hidden;
}

.catalog div:nth-child(2){
	left:33.5%;
}

.catalog div:nth-child(3){
	left:67%;
}

.catalog div:nth-child(4){
	left:67%;
}

.catalog_title{
	font-size:16px;
	font-family:'Roboto';
	padding-left:55px;
	background-repeat:no-repeat;
	max-width:80%;
	margin-bottom:20px;
	min-height:44px;
}

.catalog div:nth-child(1) .catalog_title{
	background-image:url(../../img/cooker.png);
}

.catalog div:nth-child(2) .catalog_title{
	background-image:url(../../img/htautomation.png);
}

.catalog div:nth-child(3) .catalog_title{
	background-image:url(../../img/pulse.png);
}

.catalog div:nth-child(4) .catalog_title{
	background-image:url(../../img/gas-blue.png);
}

.catalog div{
	float:left;
	padding:25px 30px;
	background-color:white;
	margin:2px 2px;
	min-width:246px !important;
	position:absolute;
	width:33%;
}

.catalog .catalog-list{
	margin-bottom:30px;
}

.catalog .watch-more{
	font-size:12px;
	margin-left:0;
	background-color:#f5f6f8;
	border:0;
	color:#556273;
}
