.catalog{
	width: 100%;
	position:relative;
	clear: both;
	margin-top: 37px;
}
.catalog .cat-col{
	width: 100%;
	margin-right: 4px;
	float: left;
	&::last-child{
		margin-right: 0px;
	}
	@media only screen and (min-width : 410px) {
		width:calc(50% - 4px);	
	}
	@media only screen and (min-width : 1006px) {
		width:calc(33.333% - 4px);	
	}

}
.catalog .cat-col:last-child{
	margin-right: 0px;
}
.catalog .cat-item{
	width: 100%;
	padding:25px 30px;
	padding-bottom: 30px;
	padding-top: 40px;
	margin: 0 auto;
	background: #fff;
	margin-bottom: 4px;
	position: relative;
}
.catalog .cat-item_one{
	height: 459px;
	overflow: hidden;
	.catalog-list{
		height: 322px;
	}
}
.catalog .cat-item_two{
	height: 146px;
	overflow: hidden;
	.catalog-list{
		height: 85px;
	}
}
.catalog .cat-item_three{
	height: 239px;
	padding-top: 5px;
	overflow: hidden;
	.watch-more{
		margin-top: -19px !important;
		position: absolute;
	}
	.catalog-list{
		height: 128px;
	}
	.catalog_title{
		margin-top: -5px;
	}
}



.catalog_title{
	font-size:16px;
	color: #2e3641;
	padding-left:50px;
	background-repeat:no-repeat;
	line-height: 17px;
	margin-bottom:20px;
	min-height:44px;
}

.catalog .catalog_title_cooker{
	background-image:url(../../img/cooker.png);
}

.catalog .catalog_title_htautomation{
	background-image:url(../../img/htautomation.png);
}

.catalog .catalog_title_pulse{
	background-image:url(../../img/pulse.png);
}

.catalog .catalog_title_gas-blue{
	background-image:url(../../img/gas-blue.png);
}

.catalog .catalog-list{
	margin-bottom:30px;
	z-index: 50;
	height: auto;
}

.catalog .watch-more{
	display: inline-block;
	margin-top: 8px;
}
.catalog-list-absolute{
	display: none;
	z-index: 88000;
	
}

.catalog-active{
	-webkit-box-shadow: 0px 0px 37px -4px rgba(0,0,0,0.61);
	-moz-box-shadow: 0px 0px 37px -4px rgba(0,0,0,0.61);
	box-shadow: 0px 0px 37px -4px rgba(0,0,0,0.61);

}
.cat-item-inner{
	display: none;
	position: absolute;
	left: 0px;
	top: 0px;
	padding-top: 40px;
	padding-left: 29px;
	width: 100%;
	background: #fff;
	z-index: 50;
	-webkit-box-shadow: 0px 0px 37px -4px rgba(0,0,0,0.61);
	-moz-box-shadow: 0px 0px 37px -4px rgba(0,0,0,0.61);
	box-shadow: 0px 0px 37px -4px rgba(0,0,0,0.61);
}

.catalog .modal-close{
	display:none;
	margin-right:20px !important;
}
