.tovar-item{
	background-color:white;
	padding:10px;
	margin:10px 2px;
	width:calc(25% - 4px);
	float:left;
	transition:0.5s;
	position:relative;
	overflow:hidden;
	font-family:'Roboto';
}

/*Подробнее*/

.more_inf{
	text-align:center;
}

/* Значек хит в правом верхнем углу*/

.hit, .actia{
	position:absolute;
	margin:0 !important;
	color:white !important;
	padding:5px 0px !important;
	text-transform:uppercase;
	min-width:70px;
	text-align:center;
	z-index:10;
}

/* Хит */

.hit{
	background-color:#1056b5;
}

/* Акция */

.actia{
	background-color:#ffc000;
}

.article,  .in_stock{
	margin:0 !important;
	padding: 10px 0 !important;
	font-size:13px;
}

/* Артикул*/

.article{
	float:left;
	color:#435266 !important;
}

/* В наличии*/

.in_stock{
	float:right;
	color:#76cb6c !important;
}

.in_stock:before{
	content:'✔';
	padding:0 3px;

}

.tovar-item a:hover{
	color:#e8bd40 !important;
}

.tovar-item:hover{
	-webkit-box-shadow: 0px 0px 37px -4px rgba(0,0,0,0.61);
	-moz-box-shadow: 0px 0px 37px -4px rgba(0,0,0,0.61);
	box-shadow: 0px 0px 37px -4px rgba(0,0,0,0.61);

}

.tovar-item div{
	max-height:180px;
	height:150px;
	position:relative;
	float:left;
	width:100%;
	margin-bottom:10px;
}

.tovar-item img{
	margin:auto;
	display:block;
	max-width:100%;
	margin-bottom:15px;
}

.tovar-item a{
	text-decoration:underline;
	font-size:15.2px;
	display:block;
}

.tovar-item a:nth-child(2){
	text-align:left;
}

.tovar-item p{
	text-align:center;
	margin:40px 0 20px 0;
	padding:10px 0;
	color:#e8bd40;
}

.tovar-item span{
	color:black;
}

.tovar-item span:after{
	content:'.-';
}

.old-price{
	text-decoration:line-through;
	position:absolute;
	margin:auto !important;
	text-align:center;
	width:93%;
}

.price span{
	padding:5px 20px;
	border-radius:40px;
}

/*Серая рамка вокруг цены*/
.gray span{
	border:1px solid #e4e4e6;
}

/*Оранжевая рамка вокруг цены*/

.orange span{
	border:2px solid #e8bd40;
}

@media screen and(max-width: 600px){
	.tovar-item a,p{font-size:10px;}
	.tovar-item div{height:90px;}.
	.old-price{width:80%}
	.tovar-item p{margin:20px 0 0 0;}
}
