.tovar-row-slider{
	position:relative;
	margin:20px 0;
}

.tovar-row-slider .tovar-item{
	width:100%;
	margin:0;
}

.tovar-row-slider .tovar-item:hover{
	box-shadow:none;
}

.tovar-row-slider .slider-btn{
	width:17px;
	height:24px;
	background-repeat:no-repeat;
	background-size:contain;
	display:block;
	position:absolute;
	top:55%;
	z-index:10;
	cursor:pointer;
}

.tovar-row-slider .nextbtn{
	background-image:url(../../img/next-btn-ar.png);
	right:-30;
}

.tovar-row-slider .prevbtn{
	background-image:url(../../img/prev-btn-ar.png);
	left:-30;
}

.tovar-row-slider .tovar-item a{
	font-size:13px;
}

.tovar-row-slider .tovar-item img{
	width:auto;
}

.tovar-row-slider .article, .in_stock{
	font-size:11.5px;
}

.tovar-row-slider .owl-item{
	margin:0 ;
}

.tovar-row-slider .tovar-item div{
	height:170px;
}

@media screen and (max-width : 1200px){

.tovar-row-slider .article, .in_stock{
	font-size:10px;
}

}