.tovar-item{
	background-color:white;
	padding:10px;
	margin:0 2px;
	width:calc(25% - 4px);
	float:left;
	transition:0.5s;
	position:relative;
}

.tovar-item:hover  a{
	color:#e8bd40 !important;
}

.tovar-item:hover{
	-webkit-box-shadow: 0px 0px 37px -4px rgba(0,0,0,0.61);
	-moz-box-shadow: 0px 0px 37px -4px rgba(0,0,0,0.61);
	box-shadow: 0px 0px 37px -4px rgba(0,0,0,0.61);

}

.tovar-item div{
	height:150px;
}

.tovar-item img{
	margin:auto;
	display:block;
}

.tovar-item a{
	margin-top:15px;
	display:block;
	text-decoration:underline;
	font-size:15.2px;
}

.tovar-item p{
	text-align:center;
	margin:40px 0 20px 0;
	padding:10px;
	color:#e8bd40;
}

.tovar-item span{
	color:black;
}

.tovar-item span:after{
	content:'.-';
}

.old-price{
	text-decoration:line-through;
	position:absolute;
	margin:auto !important;
	text-align:center;
	width:93%;
}

.price span{
	border:1px solid #e4e4e6;
	padding:5px 20px;
	border-radius:40px;
}

.orange span{
	border:2px solid #e8bd40;
}