.button-question{
	display: inline-block;
	font-family: 'Roboto', sans-serif;
	color: white;
	font-size: 14px;
	font-weight: 500;
	line-height: 38px;
	height: 38px;
	background-color: #1e73c6;
	text-align: center;
	padding: 0 20px 0 60px;
	position: relative;
	transition:0.4s;
	&:hover{
		transition:0.4s;
		background-color: #ffce29;
	}
	&:after{
		content: "?";
		position: absolute;
		width: 40px;
		height: 38px;
		left: 0px;
		top:0;
		color: white;
		font-size: 27px;
		font-weight: 900;
		line-height: 38px;
		background-color: #ffc000;
	}
}

